div div {
    border: solid black 1px;
    padding: 5px;
}
h1{
    color: orangered;
    font-weight: bolder;
    font-size: 3rem;
    width:400px;
    box-shadow: 1px 3px 4px 4px red;
}
  
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* in onder to change more the flex, we have to work with the children: */
  .flex >*{
    /* >* all children under it */
flex-grow: 1;
flex-basis: 33%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }
  
 