.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    text-align: center;
  }
 .child {
    background: orange;
    border: solid firebrick 1px;
    padding: 25px;
    display: flex; 
    justify-content: space-between;
  }
  .last-row {
    grid-column: 1/ 3;
  }
  .child > div {
    height: 50px;
    flex: 0 1 33%;    
    background: darkred;
   
  } 

 